img.flags {
    object-fit: none;
    height: 24px;
    width: 32px;
}

.flag-ad {
    object-position: -0px -0px;
}

.flag-ae {
    object-position: -32px -0px;
}

.flag-af {
    object-position: -64px -0px;
}

.flag-ag {
    object-position: -96px -0px;
}

.flag-ai {
    object-position: -128px -0px;
}

.flag-al {
    object-position: -160px -0px;
}

.flag-am {
    object-position: -192px -0px;
}

.flag-ao {
    object-position: -224px -0px;
}

.flag-aq {
    object-position: -256px -0px;
}

.flag-ar {
    object-position: -288px -0px;
}

.flag-as {
    object-position: -320px -0px;
}

.flag-at {
    object-position: -352px -0px;
}

.flag-au {
    object-position: -384px -0px;
}

.flag-aw {
    object-position: -416px -0px;
}

.flag-ax {
    object-position: -448px -0px;
}

.flag-az {
    object-position: -0px -24px;
}

.flag-ba {
    object-position: -32px -24px;
}

.flag-bb {
    object-position: -64px -24px;
}

.flag-bd {
    object-position: -96px -24px;
}

.flag-be {
    object-position: -128px -24px;
}

.flag-bf {
    object-position: -160px -24px;
}

.flag-bg {
    object-position: -192px -24px;
}

.flag-bh {
    object-position: -224px -24px;
}

.flag-bi {
    object-position: -256px -24px;
}

.flag-bj {
    object-position: -288px -24px;
}

.flag-bl {
    object-position: -320px -24px;
}

.flag-bm {
    object-position: -352px -24px;
}

.flag-bn {
    object-position: -384px -24px;
}

.flag-bo {
    object-position: -416px -24px;
}

.flag-bq {
    object-position: -448px -24px;
}

.flag-br {
    object-position: -0px -48px;
}

.flag-bs {
    object-position: -32px -48px;
}

.flag-bt {
    object-position: -64px -48px;
}

.flag-bv {
    object-position: -96px -48px;
}

.flag-bw {
    object-position: -128px -48px;
}

.flag-by {
    object-position: -160px -48px;
}

.flag-bz {
    object-position: -192px -48px;
}

.flag-ca {
    object-position: -224px -48px;
}

.flag-cc {
    object-position: -256px -48px;
}

.flag-cd {
    object-position: -288px -48px;
}

.flag-cf {
    object-position: -320px -48px;
}

.flag-cg {
    object-position: -352px -48px;
}

.flag-ch {
    object-position: -384px -48px;
}

.flag-ci {
    object-position: -416px -48px;
}

.flag-ck {
    object-position: -448px -48px;
}

.flag-cl {
    object-position: -0px -72px;
}

.flag-cm {
    object-position: -32px -72px;
}

.flag-cn {
    object-position: -64px -72px;
}

.flag-co {
    object-position: -96px -72px;
}

.flag-cr {
    object-position: -128px -72px;
}

.flag-cs {
    object-position: -160px -72px;
}

.flag-cu {
    object-position: -192px -72px;
}

.flag-cv {
    object-position: -224px -72px;
}

.flag-cw {
    object-position: -256px -72px;
}

.flag-cx {
    object-position: -288px -72px;
}

.flag-cy {
    object-position: -320px -72px;
}

.flag-cz {
    object-position: -352px -72px;
}

.flag-de {
    object-position: -384px -72px;
}

.flag-dj {
    object-position: -416px -72px;
}

.flag-dk {
    object-position: -448px -72px;
}

.flag-dm {
    object-position: -0px -96px;
}

.flag-do {
    object-position: -32px -96px;
}

.flag-dz {
    object-position: -64px -96px;
}

.flag-ec {
    object-position: -96px -96px;
}

.flag-ee {
    object-position: -128px -96px;
}

.flag-eg {
    object-position: -160px -96px;
}

.flag-eh {
    object-position: -192px -96px;
}

.flag-er {
    object-position: -224px -96px;
}

.flag-es {
    object-position: -256px -96px;
}

.flag-et {
    object-position: -288px -96px;
}

.flag-eu {
    object-position: -320px -96px;
}

.flag-fi {
    object-position: -352px -96px;
}

.flag-fj {
    object-position: -384px -96px;
}

.flag-fk {
    object-position: -416px -96px;
}

.flag-fm {
    object-position: -448px -96px;
}

.flag-fo {
    object-position: -0px -120px;
}

.flag-fr {
    object-position: -32px -120px;
}

.flag-ga {
    object-position: -64px -120px;
}

.flag-gb-eng {
    object-position: -96px -120px;
}

.flag-gb-nir {
    object-position: -128px -120px;
}

.flag-gb-sct {
    object-position: -160px -120px;
}

.flag-gb-wls {
    object-position: -192px -120px;
}

.flag-gb {
    object-position: -224px -120px;
}

.flag-gd {
    object-position: -256px -120px;
}

.flag-ge {
    object-position: -288px -120px;
}

.flag-gf {
    object-position: -320px -120px;
}

.flag-gg {
    object-position: -352px -120px;
}

.flag-gh {
    object-position: -384px -120px;
}

.flag-gi {
    object-position: -416px -120px;
}

.flag-gl {
    object-position: -448px -120px;
}

.flag-gm {
    object-position: -0px -144px;
}

.flag-gn {
    object-position: -32px -144px;
}

.flag-gp {
    object-position: -64px -144px;
}

.flag-gq {
    object-position: -96px -144px;
}

.flag-gr {
    object-position: -128px -144px;
}

.flag-gs {
    object-position: -160px -144px;
}

.flag-gt {
    object-position: -192px -144px;
}

.flag-gu {
    object-position: -224px -144px;
}

.flag-gw {
    object-position: -256px -144px;
}

.flag-gy {
    object-position: -288px -144px;
}

.flag-hk {
    object-position: -320px -144px;
}

.flag-hm {
    object-position: -352px -144px;
}

.flag-hn {
    object-position: -384px -144px;
}

.flag-hr {
    object-position: -416px -144px;
}

.flag-ht {
    object-position: -448px -144px;
}

.flag-hu {
    object-position: -0px -168px;
}

.flag-id {
    object-position: -32px -168px;
}

.flag-ie {
    object-position: -64px -168px;
}

.flag-il {
    object-position: -96px -168px;
}

.flag-im {
    object-position: -128px -168px;
}

.flag-in {
    object-position: -160px -168px;
}

.flag-io {
    object-position: -192px -168px;
}

.flag-iq {
    object-position: -224px -168px;
}

.flag-ir {
    object-position: -256px -168px;
}

.flag-is {
    object-position: -288px -168px;
}

.flag-it {
    object-position: -320px -168px;
}

.flag-je {
    object-position: -352px -168px;
}

.flag-jm {
    object-position: -384px -168px;
}

.flag-jo {
    object-position: -416px -168px;
}

.flag-jp {
    object-position: -448px -168px;
}

.flag-ke {
    object-position: -0px -192px;
}

.flag-kg {
    object-position: -32px -192px;
}

.flag-kh {
    object-position: -64px -192px;
}

.flag-ki {
    object-position: -96px -192px;
}

.flag-km {
    object-position: -128px -192px;
}

.flag-kn {
    object-position: -160px -192px;
}

.flag-kp {
    object-position: -192px -192px;
}

.flag-kr {
    object-position: -224px -192px;
}

.flag-kv {
    object-position: -256px -192px;
}

.flag-kw {
    object-position: -288px -192px;
}

.flag-ky {
    object-position: -320px -192px;
}

.flag-kz {
    object-position: -352px -192px;
}

.flag-la {
    object-position: -384px -192px;
}

.flag-lb {
    object-position: -416px -192px;
}

.flag-lc {
    object-position: -448px -192px;
}

.flag-li {
    object-position: -0px -216px;
}

.flag-lk {
    object-position: -32px -216px;
}

.flag-lr {
    object-position: -64px -216px;
}

.flag-ls {
    object-position: -96px -216px;
}

.flag-lt {
    object-position: -128px -216px;
}

.flag-lu {
    object-position: -160px -216px;
}

.flag-lv {
    object-position: -192px -216px;
}

.flag-ly {
    object-position: -224px -216px;
}

.flag-ma {
    object-position: -256px -216px;
}

.flag-mc {
    object-position: -288px -216px;
}

.flag-md {
    object-position: -320px -216px;
}

.flag-me {
    object-position: -352px -216px;
}

.flag-mf {
    object-position: -384px -216px;
}

.flag-mg {
    object-position: -416px -216px;
}

.flag-mh {
    object-position: -448px -216px;
}

.flag-mk {
    object-position: -0px -240px;
}

.flag-ml {
    object-position: -32px -240px;
}

.flag-mm {
    object-position: -64px -240px;
}

.flag-mn {
    object-position: -96px -240px;
}

.flag-mo {
    object-position: -128px -240px;
}

.flag-mp {
    object-position: -160px -240px;
}

.flag-mq {
    object-position: -192px -240px;
}

.flag-mr {
    object-position: -224px -240px;
}

.flag-ms {
    object-position: -256px -240px;
}

.flag-mt {
    object-position: -288px -240px;
}

.flag-mu {
    object-position: -320px -240px;
}

.flag-mv {
    object-position: -352px -240px;
}

.flag-mw {
    object-position: -384px -240px;
}

.flag-mx {
    object-position: -416px -240px;
}

.flag-my {
    object-position: -448px -240px;
}

.flag-mz {
    object-position: -0px -264px;
}

.flag-na {
    object-position: -32px -264px;
}

.flag-nc {
    object-position: -64px -264px;
}

.flag-ne {
    object-position: -96px -264px;
}

.flag-nf {
    object-position: -128px -264px;
}

.flag-ng {
    object-position: -160px -264px;
}

.flag-ni {
    object-position: -192px -264px;
}

.flag-nl {
    object-position: -224px -264px;
}

.flag-no {
    object-position: -256px -264px;
}

.flag-np {
    object-position: -288px -264px;
}

.flag-nr {
    object-position: -320px -264px;
}

.flag-nu {
    object-position: -352px -264px;
}

.flag-nz {
    object-position: -384px -264px;
}

.flag-om {
    object-position: -416px -264px;
}

.flag-pa {
    object-position: -448px -264px;
}

.flag-pe {
    object-position: -0px -288px;
}

.flag-pf {
    object-position: -32px -288px;
}

.flag-pg {
    object-position: -64px -288px;
}

.flag-ph {
    object-position: -96px -288px;
}

.flag-pk {
    object-position: -128px -288px;
}

.flag-pl {
    object-position: -160px -288px;
}

.flag-pm {
    object-position: -192px -288px;
}

.flag-pn {
    object-position: -224px -288px;
}

.flag-pr {
    object-position: -256px -288px;
}

.flag-ps {
    object-position: -288px -288px;
}

.flag-pt {
    object-position: -320px -288px;
}

.flag-pw {
    object-position: -352px -288px;
}

.flag-py {
    object-position: -384px -288px;
}

.flag-qa {
    object-position: -416px -288px;
}

.flag-re {
    object-position: -448px -288px;
}

.flag-ro {
    object-position: -0px -312px;
}

.flag-rs {
    object-position: -32px -312px;
}

.flag-ru {
    object-position: -64px -312px;
}

.flag-rw {
    object-position: -96px -312px;
}

.flag-sa {
    object-position: -128px -312px;
}

.flag-sb {
    object-position: -160px -312px;
}

.flag-sc {
    object-position: -192px -312px;
}

.flag-sd {
    object-position: -224px -312px;
}

.flag-se {
    object-position: -256px -312px;
}

.flag-sg {
    object-position: -288px -312px;
}

.flag-sh {
    object-position: -320px -312px;
}

.flag-si {
    object-position: -352px -312px;
}

.flag-sj {
    object-position: -384px -312px;
}

.flag-sk {
    object-position: -416px -312px;
}

.flag-sl {
    object-position: -448px -312px;
}

.flag-sm {
    object-position: -0px -336px;
}

.flag-sn {
    object-position: -32px -336px;
}

.flag-so {
    object-position: -64px -336px;
}

.flag-sr {
    object-position: -96px -336px;
}

.flag-ss {
    object-position: -128px -336px;
}

.flag-st {
    object-position: -160px -336px;
}

.flag-sv {
    object-position: -192px -336px;
}

.flag-sx {
    object-position: -224px -336px;
}

.flag-sy {
    object-position: -256px -336px;
}

.flag-sz {
    object-position: -288px -336px;
}

.flag-td {
    object-position: -320px -336px;
}

.flag-tf {
    object-position: -352px -336px;
}

.flag-tg {
    object-position: -384px -336px;
}

.flag-th {
    object-position: -416px -336px;
}

.flag-tj {
    object-position: -448px -336px;
}

.flag-tk {
    object-position: -0px -360px;
}

.flag-tl {
    object-position: -32px -360px;
}

.flag-tm {
    object-position: -64px -360px;
}

.flag-tn {
    object-position: -96px -360px;
}

.flag-to {
    object-position: -128px -360px;
}

.flag-tr {
    object-position: -160px -360px;
}

.flag-tt {
    object-position: -192px -360px;
}

.flag-tv {
    object-position: -224px -360px;
}

.flag-tw {
    object-position: -256px -360px;
}

.flag-tz {
    object-position: -288px -360px;
}

.flag-ua {
    object-position: -320px -360px;
}

.flag-ug {
    object-position: -352px -360px;
}

.flag-um {
    object-position: -384px -360px;
}

.flag-un {
    object-position: -416px -360px;
}

.flag-us {
    object-position: -448px -360px;
}

.flag-uy {
    object-position: -0px -384px;
}

.flag-uz {
    object-position: -32px -384px;
}

.flag-va {
    object-position: -64px -384px;
}

.flag-vc {
    object-position: -96px -384px;
}

.flag-ve {
    object-position: -128px -384px;
}

.flag-vg {
    object-position: -160px -384px;
}

.flag-vi {
    object-position: -192px -384px;
}

.flag-vn {
    object-position: -224px -384px;
}

.flag-vu {
    object-position: -256px -384px;
}

.flag-wf {
    object-position: -288px -384px;
}

.flag-ws {
    object-position: -320px -384px;
}

.flag-ye {
    object-position: -352px -384px;
}

.flag-yt {
    object-position: -384px -384px;
}

.flag-yu {
    object-position: -416px -384px;
}

.flag-za {
    object-position: -448px -384px;
}

.flag-zm {
    object-position: -0px -408px;
}

.flag-zw {
    object-position: -32px -408px;
}

